In [36]:
# importing required libraries
import pandas as pd
import numpy as np
import math

#loading test and train data
testing= pd.read_csv('new_test.csv')
training = pd.read_csv('new_train.csv')

# finding proper values for missing trainee_engagement_rating

In [37]:
# for train
group_train = training.iloc[:].groupby(['gender','program_type'])
grouped_median_train = group_train.median()
grouped_median_train = grouped_median_train.reset_index()[['gender','program_type','trainee_engagement_rating']]

In [38]:
# for train
def fill_age(row):
    condition = (
        (grouped_median_train['gender'] == row['gender']) & 
        (grouped_median_train['program_type'] == row['program_type'])  
    #  &  (grouped_median_train['city_tier'] == row['city_tier'])
    ) 
    return grouped_median_train[condition]['trainee_engagement_rating'].values[0]


def process_age():
    global training
    # a function that fills the missing values of the Age variable
    training['Trainee_engagement_rating'] = training.apply(lambda row: fill_age(row) if np.isnan(row['trainee_engagement_rating']) else row['trainee_engagement_rating'], axis=1)
    
    return training

In [39]:
# for test
def fill_test_age(row):
    condition = (
        (grouped_median_train['gender'] == row['gender']) & 
        (grouped_median_train['program_type'] == row['program_type'])  
    #  &  (grouped_median_train['city_tier'] == row['city_tier'])
    ) 
    return grouped_median_train[condition]['trainee_engagement_rating'].values[0]


def process_test_age():
    global training
    # a function that fills the missing values of the Age variable
    testing['Trainee_engagement_rating'] = testing.apply(lambda row: fill_test_age(row) if np.isnan(row['trainee_engagement_rating']) else row['trainee_engagement_rating'], axis=1)
    
    return testing

In [40]:
# function calling for train data
training = process_age()

In [41]:
# Function call for test data
testing = process_test_age()

In [42]:
# creating a feature age_bool, it tells if age is missing or not
# if age is missing then it is probably a girl
#real_train['age_bool']=real_train.age.isnull()
#testsa['age_bool']=testsa.age.isnull()

# filling missing values of age and trainee_engagement_rating of train and test sets
#real_train['age'].fillna((real_train['age'].median()), inplace=True)
#training['trainee_engagement_rating'].fillna(1, inplace=True)
#testsa['age'].fillna((testsa['age'].median()), inplace=True)
#testing['trainee_engagement_rating'].fillna(1, inplace=True)



training['Trainee_engagement_rating']=training.Trainee_engagement_rating.astype(int)
testing['Trainee_engagement_rating']=testing.Trainee_engagement_rating.astype(int)

# doing same for age tooo...

In [43]:
# finding median age for each group made depending upon gender, education and city_tier 
# Done to fill nan values in a better way

# for train
grouped_train = training.iloc[:].groupby(['Trainee_engagement_rating','education','city_tier'])
grouped_median_train = grouped_train.mean()
grouped_median_train = grouped_median_train.reset_index()[['Trainee_engagement_rating','education','city_tier', 'age']]

# since its median was nan, so 33 is the median taken from the test data for that group
grouped_median_train['age'][34]=37
grouped_median_train['age'][53]=32
grouped_median_train['age'][56]=32
grouped_median_train['age'][72]=34
# for test
#grouped_test = testing.iloc[:].groupby(['Trainee_engagement_rating','education','city_tier'])
#grouped_median_test = grouped_test.median()
#grouped_median_test = grouped_median_test.reset_index()[['Trainee_engagement_rating','education','city_tier', 'age']]

/home/abhiraj/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/abhiraj/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/abhiraj/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [44]:
# for train
def fill_age(row):
    condition = (
        (grouped_median_train['Trainee_engagement_rating'] == row['Trainee_engagement_rating']) & 
        (grouped_median_train['city_tier'] == row['city_tier'])  
      &  (grouped_median_train['education'] == row['education'])
    ) 
    return grouped_median_train[condition]['age'].values[0]


def process_age():
    global training
    # a function that fills the missing values of the Age variable
    training['Age'] = training.apply(lambda row: fill_age(row) if np.isnan(row['age']) else row['age'], axis=1)
    
    return training

In [45]:
# for test
def fill_test_age(row):
    condition = (
        (grouped_median_train['Trainee_engagement_rating'] == row['Trainee_engagement_rating']) & 
        (grouped_median_train['city_tier'] == row['city_tier']) &
         (grouped_median_train['education'] == row['education'])
    ) 
    return grouped_median_train[condition]['age'].values[0]


def process_test_age():
    global testing
    # a function that fills the missing values of the Age variable
    testing['Age'] = testing.apply(lambda row: fill_test_age(row) if np.isnan(row['age']) else row['age'], axis=1)
    
    return testing

In [46]:
# function calling for train data
real_train = process_age()

In [47]:
# Function call for test data
testsa = process_test_age()

In [48]:
# asserting filled missing values and integers
real_train['Age']=real_train.Age.astype(int)


testsa['Age']=testsa.Age.astype(int)

## check if I can remove this part

In [49]:
# giving numeric values to difficulty levels
# it is based on the graph drawn b/w difficulty level and is_pass, the difference in the heights of the bars
# were taken into account to determine the values for each class
new_level = {"difficulty_level":     {"easy": 1, "intermediate": 4,"hard": 3, "vary hard":6 }}

# replace these values in train and test set
real_train.replace(new_level, inplace=True)
testsa.replace(new_level,inplace=True)

In [50]:
newnew={"education": {"Matriculation":2,"No Qualification":1,"High School Diploma":3,"Bachelors":4,"Masters":5}}
# replace these values in train and test set
real_train.replace(newnew, inplace=True)
testsa.replace(newnew,inplace=True)

# remove useless ids..

In [51]:
# drop ids from train and test sets
real_train=real_train.drop(['id','age','trainee_engagement_rating'],axis=1)
test=testsa.drop(['id','age','trainee_engagement_rating'],axis=1)

# label encoding

In [52]:
# label encoding for train set
#programmed_dummies=pd.get_dummies(real_train.program_id, prefix="programmed",drop_first=True)
#real_train= pd.concat([real_train,programmed_dummies],axis=1)
programme_dummies=pd.get_dummies(real_train.program_type, prefix="type",drop_first=True)
real_train= pd.concat([real_train,programme_dummies],axis=1)
programm_dummies=pd.get_dummies(real_train.test_type, prefix="type",drop_first=True)
real_train= pd.concat([real_train,programm_dummies],axis=1)
#program_dummies=pd.get_dummies(real_train.difficulty_level, prefix="level",drop_first=True)
#real_train= pd.concat([real_train,program_dummies],axis=1)
progra_dummies=pd.get_dummies(real_train.gender, prefix="level",drop_first=True)
real_train= pd.concat([real_train,progra_dummies],axis=1)
#progr_dummies=pd.get_dummies(real_train.education, prefix="level",drop_first=True)
#real_train= pd.concat([real_train,progr_dummies],axis=1)
prog_dummies=pd.get_dummies(real_train.is_handicapped, prefix="handicap",drop_first=True)
real_train= pd.concat([real_train,prog_dummies],axis=1)
#pro_dummies=pd.get_dummies(real_train.age_bool, prefix="bool_age",drop_first=True)
#real_train= pd.concat([real_train,pro_dummies],axis=1)
train=real_train.drop(['program_type','program_id','test_type','gender','is_handicapped'],axis=1)

In [53]:
# label encoding for test set
#programmed_dummies=pd.get_dummies(test.program_id, prefix="programmed",drop_first=True)
#test= pd.concat([test,programmed_dummies],axis=1)
programme_dummies=pd.get_dummies(test.program_type, prefix="type",drop_first=True)
test= pd.concat([test,programme_dummies],axis=1)
programm_dummies=pd.get_dummies(test.test_type, prefix="type",drop_first=True)
test= pd.concat([test,programm_dummies],axis=1)
#program_dummies=pd.get_dummies(test.difficulty_level, prefix="level",drop_first=True)
#test= pd.concat([test,program_dummies],axis=1)
progra_dummies=pd.get_dummies(test.gender, prefix="level",drop_first=True)
test= pd.concat([test,progra_dummies],axis=1)
#progr_dummies=pd.get_dummies(test.education, prefix="level",drop_first=True)
#test= pd.concat([test,progr_dummies],axis=1)
prog_dummies=pd.get_dummies(test.is_handicapped, prefix="handicap",drop_first=True)
test= pd.concat([test,prog_dummies],axis=1)
#pro_dummies=pd.get_dummies(test.age_bool, prefix="bool_age",drop_first=True)
#test= pd.concat([test,pro_dummies],axis=1)
tests=test.drop(['program_type','program_id','test_type','gender','is_handicapped'],axis=1)

In [54]:
train.head()

,program_duration,test_id,difficulty_level,trainee_id,education,city_tier,total_programs_enrolled,is_pass,Trainee_engagement_rating,Age,type_T,type_U,type_V,type_X,type_Y,type_Z,type_online,level_M,handicap_Y
0,136,150,4,9389,2,3,5,0,1,24,0,0,0,0,1,0,0,1,0
1,131,44,1,16523,3,4,2,1,3,26,1,0,0,0,0,0,0,0,0
2,120,178,1,13987,2,1,1,1,2,40,0,0,0,0,0,1,1,1,0
3,117,32,1,13158,2,3,4,1,1,34,1,0,0,0,0,0,0,0,0
4,131,84,4,10591,3,1,2,1,4,42,0,0,1,0,0,0,0,0,0

# splitting train into two..

In [55]:
# dividing train data into dependent and independent variables
train_ys = train['is_pass']
train_X = train.drop(['is_pass'],axis=1)

In [56]:
# normalize skewed features
for feature in train_X:
    if train_X[feature].dtype != "object":
        #display_distrib(all_data, feature)
        train_X[feature] = np.log1p(train_X[feature])
                #display_distrib(all_data, feature)

In [57]:
# normalize skewed features
for feature in tests:
    if tests[feature].dtype != "object":
        #display_distrib(all_data, feature)
        tests[feature] = np.log1p(tests[feature])
                #display_distrib(all_data, feature)

In [58]:
train_X.head()

,program_duration,test_id,difficulty_level,trainee_id,education,city_tier,total_programs_enrolled,Trainee_engagement_rating,Age,type_T,type_U,type_V,type_X,type_Y,type_Z,type_online,level_M,handicap_Y
0,4.919981,5.017280,1.609438,9.147401,1.098612,1.386294,1.791759,0.693147,3.218876,0.000000,0.0,0.000000,0.0,0.693359,0.000000,0.000000,0.693359,0.0
1,4.882802,3.806662,0.693147,9.712569,1.386294,1.609438,1.098612,1.386294,3.295837,0.693359,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2,4.795791,5.187386,0.693147,9.545955,1.098612,0.693147,0.693147,1.098612,3.713572,0.000000,0.0,0.000000,0.0,0.000000,0.693359,0.693359,0.693359,0.0
3,4.770685,3.496508,0.693147,9.484861,1.098612,1.386294,1.609438,0.693147,3.555348,0.693359,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
4,4.882802,4.442651,1.609438,9.267854,1.386294,0.693147,1.098612,1.609438,3.761200,0.000000,0.0,0.693359,0.0,0.000000,0.000000,0.000000,0.000000,0.0

# """"""doing something special""""""

In [59]:
# !!!!!!!!!!!!!!!!do not run it second time!!!!!!!!!!!!!!!!!!!
dummy_train=train_X
dummy_test=tests

In [70]:
train_X=dummy_train
tests=dummy_test

In [71]:
train_X.head()

,program_duration,test_id,difficulty_level,trainee_id,education,city_tier,total_programs_enrolled,Trainee_engagement_rating,Age,type_T,type_U,type_V,type_X,type_Y,type_Z,type_online,level_M,handicap_Y
0,4.919981,5.017280,1.609438,9.147401,1.098612,1.386294,1.791759,0.693147,3.218876,0.000000,0.0,0.000000,0.0,0.693359,0.000000,0.000000,0.693359,0.0
1,4.882802,3.806662,0.693147,9.712569,1.386294,1.609438,1.098612,1.386294,3.295837,0.693359,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
2,4.795791,5.187386,0.693147,9.545955,1.098612,0.693147,0.693147,1.098612,3.713572,0.000000,0.0,0.000000,0.0,0.000000,0.693359,0.693359,0.693359,0.0
3,4.770685,3.496508,0.693147,9.484861,1.098612,1.386294,1.609438,0.693147,3.555348,0.693359,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0
4,4.882802,4.442651,1.609438,9.267854,1.386294,0.693147,1.098612,1.609438,3.761200,0.000000,0.0,0.693359,0.0,0.000000,0.000000,0.000000,0.000000,0.0

In [72]:
#train_X= train_X[['trainee_id','test_id','Age','Trainee_engagement_rating','city_tier','level_M','total_programs_enrolled','type_online','difficulty_level','education','program_duration']]
#tests=tests[['trainee_id','test_id','Age','Trainee_engagement_rating','city_tier','level_M','total_programs_enrolled','type_online','difficulty_level','education','program_duration']]

# :::::::::::::::::::::::::::::: start testing our model ::::::::::::::::::::::::::::::::::

In [73]:
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=10000,early_stopping_rounds = 25,learning_rate=0.23)
fit = my_model.fit(train_X,train_ys,verbose= False)
predictions= my_model.predict(tests)

In [74]:
my_submission= pd.DataFrame({'id': testsa.id, 'is_pass':predictions})
my_submission.to_csv('forfinal.csv',index= False)

In [76]:
#define X and y
X = train_X
y = train_ys


#train catboost model with categorical features on X,y
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier
categorical_features_indices = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]

model=CatBoostClassifier(iterations=1020, depth=6, learning_rate=0.06, loss_function= 'Logloss')
model.fit(X, y,cat_features=categorical_features_indices,plot=True)
#model.fit(X_train, y_train,cat_features=categorical_features_indices,eval_set=(X_test,y_test),plot=True)
#pred=model.predict_proba(X_test)[:,1]
#score = roc_auc_score(y_test,pred)
#print('roc_auc_score',score)

#predict probabilities of is_pass
pred=model.predict_proba(tests)[:,1]

CatboostError: Invalid type for cat_feature[0,0]=4.91998092583 : cat_features must be integer or string, real number values and NaN values should be converted to string.

In [ ]:
my_submission= pd.DataFrame({'id': testsa.id, 'is_pass':predictions})
my_submission.to_csv('forfinal.csv',index= False)